.App {
  text-align: center;
  background-color: #121212ce;
  padding-top: 120px;
}

.App nav.navbar {
  background-color: #282828;
}

/* Cards */
.App .card {
  color: white;
  background-color: #181818;
}

.App .card button {
  width: 100px;
}

.App .card .h5 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-img-box {
  /* height: 200px; */
  overflow: hidden;
}

.card-tex-box {
  min-height: 120px;
}

/* ******************* MODAL **************** */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main button {
  width: 150px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* SLIDER */
.slick-arrow {
  width: 40px;
}

@media (max-width: 400px) {
  * {
    font-size: 12px;
  }
  .App .card button {
    width: 100%;
    font-size: 1rem;
  }
  .card-body {
    padding: 0px 3px 5px 3px;
  }
}
