.App {
  text-align: center;
}

.App {
  background-color: #121212;
}

.App nav.navbar {
  background-color: #040404;
}

.App .card {
  color: white;
  background-color: #181818;
}

.App .card .h5 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
